In [4]:
import pandas as pd

In [18]:
df = pd.read_csv('results_semisupervised.csv')

In [22]:
df.loc[( (df['seed']==0))].sort_values('known_cls_ratio')

,NMI,ARI,ACC,dataset,method,backbone,known_cls_ratio,labeled_ratio,cluster_num_factor,logger_file_name,seed
0,73.57,42.96,56.49,banking,USNID,bert_USNID,0.25,0.1,1.0,USNID_banking_bert_USNID_2024-10-03-17-15-37,0
1,73.57,42.96,56.49,banking,USNID,bert_USNID,0.25,0.1,1.0,USNID_banking_bert_USNID_2024-10-30-21-43-36,0
4,48.26,10.10,31.98,avocado,USNID,bert_USNID,0.25,0.1,1.0,USNID_avocado_bert_USNID_2024-10-31-02-58-37,0
2,76.34,46.98,60.78,banking,USNID,bert_USNID,0.50,0.1,1.0,USNID_banking_bert_USNID_2024-10-30-23-28-07,0
5,48.23,5.98,29.65,avocado,USNID,bert_USNID,0.50,0.1,1.0,USNID_avocado_bert_USNID_2024-10-31-03-19-07,0
3,76.76,46.24,58.05,banking,USNID,bert_USNID,0.75,0.1,1.0,USNID_banking_bert_USNID_2024-10-31-01-12-52,0
6,42.42,3.01,25.00,avocado,USNID,bert_USNID,0.75,0.1,1.0,USNID_avocado_bert_USNID_2024-10-31-03-40-15,0
17,45.86,4.91,28.49,avocado,USNID,bert_USNID,1.00,0.1,1.0,USNID_avocado_bert_USNID_2024-10-31-16-38-08,0