# EDA for TEXTOIR Datasets

In [1]:
import pandas as pd
import sys
import os

current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, '../utility'))
sys.path.append(parent_dir)
from word_counter import get_most_common_words

In [2]:
df_banking = pd.read_csv('../TEXTOIR/data/banking/train.tsv', sep='\t')
df_clinc = pd.read_csv('../TEXTOIR/data/clinc/train.tsv', sep='\t')
df_oos = pd.read_csv('../TEXTOIR/data/oos/train.tsv', sep='\t')
df_snips = pd.read_csv('../TEXTOIR/data/snips/train.tsv', sep='\t')
df_stack = pd.read_csv('../TEXTOIR/data/stackoverflow/train.tsv', sep='\t')

## EDA Banking

In [6]:
df_banking.head()

,text,label
0,Could you help my figure out the exchange fee?,exchange_charge
1,I made a cash deposit to my account but i don'...,balance_not_updated_after_cheque_or_cash_deposit
2,Hello - I'm on the app and trying to purchase ...,beneficiary_not_allowed
3,Why is it saying I have a pending payment?,pending_card_payment
4,Is there an extra charge to exchange different...,exchange_charge

In [3]:
get_most_common_words(df_banking['text'])

[('card', 2408),
 ('account', 1224),
 ('money', 1023),
 ('transfer', 974),
 ('get', 725)]

## EDA Clinc

In [14]:
df_clinc.head(10)

,text,label
0,that is accurate,yes
1,i need to switch to a new insurance plan,insurance_change
2,please put annie's baby shower on march 30 in ...,calendar_update
3,what's the average time it takes for a new car...,replacement_card_duration
4,certainly not,no
5,will i need a visa to go to moldova,international_visa
6,"yes, that's right",yes
7,has there been any changes in the status of my...,application_status
8,how long should i fry an egg for,cook_time
9,how long is the drive from sfo to fisherman's ...,distance

In [17]:
get_most_common_words(df_clinc['text'], n_words=20)

[('need', 1565),
 ('card', 1354),
 ('please', 1335),
 ('tell', 1164),
 ('know', 1034),
 ('get', 900),
 ('credit', 827),
 ('account', 694),
 ('whats', 675),
 ('list', 618),
 ('car', 617),
 ('want', 617),
 ('like', 609),
 ('would', 515),
 ('change', 496),
 ('time', 466),
 ('new', 460),
 ('bank', 456),
 ('much', 442),
 ('many', 425)]

## EDA OOS

In [8]:
df_oos.head()

                                                text      label
0  what expression would i use to say i love you ...  translate
1  can you tell me how to say 'i do not speak muc...  translate
2  what is the equivalent of, 'life is good' in f...  translate
3  tell me how to say, 'it is a beautiful morning...  translate
4  if i were mongolian, how would i say that i am...  translate

In [18]:
get_most_common_words(df_oos['text'], n_words=20)

[('need', 1307),
 ('please', 1144),
 ('card', 1137),
 ('tell', 998),
 ('know', 843),
 ('get', 749),
 ('credit', 685),
 ('whats', 594),
 ('account', 567),
 ('list', 530),
 ('car', 508),
 ('want', 507),
 ('like', 506),
 ('would', 429),
 ('change', 409),
 ('new', 382),
 ('bank', 379),
 ('time', 376),
 ('many', 360),
 ('much', 352)]

## EDA Snips

In [9]:
df_snips.head()

                                                text          label
0   listen to westbam alumb allergic on google music      PlayMusic
1        add step to me to the 50 clásicos playlist   AddToPlaylist
2  i give this current textbook a rating value of...       RateBook
3               play the song little robin redbreast      PlayMusic
4  please add iris dement to my playlist this is ...  AddToPlaylist

In [11]:
get_most_common_words(df_snips['text'], n_words=10)

[('play', 1826),
 ('book', 1547),
 ('add', 1476),
 ('find', 1336),
 ('playlist', 1254),
 ('6', 1087),
 ('movie', 1049),
 ('rate', 955),
 ('weather', 839),
 ('show', 753)]

## EDA Stackoverflow

In [19]:
df_stack.head()

                                    text      label
0   Scala Regex Multiple Block Capturing      scala
1  Use Oracle 6 from ASP.NET application     oracle
2         HQL 1 to many count() question  hibernate
3  scala syntax highlighting in bluefish      scala
4                   Weird bindings issue      cocoa

In [20]:
get_most_common_words(df_stack['text'], n_words=10)

[('using', 728),
 ('magento', 532),
 ('wordpress', 519),
 ('excel', 516),
 ('linq', 509),
 ('hibernate', 507),
 ('drupal', 503),
 ('matlab', 493),
 ('spring', 464),
 ('oracle', 460)]